@import "_abstracts/vars"
@import "_mixins/different-mixin"
@import "_base/fonts"
// @import "libs"
@import "_components/btn"
@import "_pages/prices"

%message-shared
	border: 3px solid black
	padding: 10px
	color: #333

body
	color: white
	font-size: 30px

header
	.inner-header
		background: #3d3c66
		height: 200px
	
main
	margin: 10px 0  
	@include clearfix

section
	.inner-content
		background: #3d3c66
		min-height: 500px
	width: 70%
	float: left

aside
	.inner-aside
		background: #3d3c66;
		min-height: 500px		
	width: 15%
	float: left
	padding-left: 10px

footer
	.inner-footer
		background: #3d3c66


@import "_base/media"