@import "_abstracts/vars"
@import "_mixins/different-mixin"
@import "_base/fonts"
// @import "libs"
@import "_components/btn"
@import "_pages/prices"

%message-shared
	border: 3px solid black
	padding: 10px
	color: #333




@import "_base/media"